{% extends "base.html" %}

{# Navbar #}

{% block navbar_contents %}
    <div>
        <ul class="nav navbar-nav">
    	   <li><a href="#about"><span>About</span></a></li>
        </ul>
    </div>
	{{ super() }}
{% endblock %}

{# Sections #}
{% block sections %}
    <section id="intro">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="jumbotron-heading shadow hidden-xs">Unhappy With Your Property Manager</h1>
                                <h1 class="jumbotron-heading shadow visible-xs">Property Managment</h1>
                            </div>
                            <div class="col-md-12">
                                <ul class="fa-ul shadow center-list">
                                    <li>
                                        <i class="fa-li fa fa-check"></i>
                                        Do You Think The Fees Are Too High?
                                    </li>
                                   <li>
                                        <i class="fa-li fa fa-check"></i>
                                        Does The Service Seem Sub-Standard?
                                    </li>
                                    <li>
                                        <i class="fa-li fa fa-check"></i>
                                        Is It Difficult For You To Exercise Any Measure Of Control?
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-12 shadow">
                                We think the property management industry is over-priced and gives sub-standard service. We aim to change this.
                            </div>
                            <div class="col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-4">
                                <a class="btn btn-block fancy-button" href="#about">Find Out More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <h2>An Idea For Property Management Done Right</h2>
            <div class="divider-grey"></div>
            <div class="jumbotron">
                <div id="survey-intro">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h4>Please help us! We want to fix the property management industry. We want to make it better and cheaper. We are two individuals with years of experience in the finance and computer industries.</h3>
                            <h4>We want to build a property management service that avoids what is wrong with the current industry. We would love your help, please can you fill out this short survey (its only 9 questions and should not take you longer than 3 minutes)</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-4 col-md-offset-5 col-md-2">
                            <a id="survey" class="btn btn-block fancy-button" href="#about">Take Survey</a>
                        </div>
                    </div>
                </div>
                <div id="surveyMonkeyInfo" style="width:100%;font-size:10px;color:#666;"><div><iframe id="sm_e_s" src="https://www.surveymonkey.com/jsEmbed.aspx?sm=6gU1sdX42c6ADcQlyUPxqQ_3d_3d" width="100%" height="600" style="border:0px;padding-bottom:4px;" frameborder="0" allowtransparency="true" ></iframe></div>Create your free online surveys with <a href="https://www.surveymonkey.com">SurveyMonkey</a> , the world's leading questionnaire tool.</div>
            </div>
        </div>
    </section>
{% endblock %}

{# JavaScript #}
{% block javascript %}
<script>
    //No offset is taken into account when animating page scrolls
    var noscrollanimateoffset = true;
</script>
{% endblock %}