//== Button
//
//## Bootstrap customized button (used in #intro)

.fancy-button {
	background: rgba(200,200,200,0.5);
	border: 2px solid @link-color-hover;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 1.0em;
	line-height: 4em;
	padding: 0px;
	color: @background-color;
	margin-top: 1em;
	text-transform: uppercase;
	text-shadow: 2px 2px #000;

	&:hover {
		@media (max-width: @grid-float-breakpoint) {
			color: @background-color;
			background: rgba(200,200,200,0.5);
			border: 2px solid @link-color-hover;
			transition: none;
		}
		@media (min-width: @grid-float-breakpoint) {
			color: @background-color;
			background: @link-color-hover;
			transition: all 0.5s ease-in-out;
			border: 2px solid @link-color-hover;
		}
	}
}