//==Intro Section
//
//

#intro:extend(.vertical-align) {
	text-align: center;
  color: @background-color;
  background: url(../img/header-bg.jpg) no-repeat center center scroll;
  background-size: cover;
 	padding: 0;

 	p {
 		line-height: 2em;
 	}

 	i:before {
 		line-height: 1.5em;
 	}
}